.wrapper {
  max-width: 70rem; /* 1020 / 16 =~ 70 */
  margin: 2rem auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px
}

main p {
  line-height: 1.75rem;
  font-size: 1.15rem;
  text-align: justify;
}
